[submodule "3rdParty/daScript"]
	path = 3rdParty/daScript
	url = https://github.com/imp5imp5/daScript-1
[submodule "3rdParty/miniaudio"]
	path = 3rdParty/miniaudio
	url = https://github.com/mackron/miniaudio
[submodule "3rdParty/SFML"]
	path = 3rdParty/SFML
	url = https://github.com/imp5imp5/SFML
[submodule "3rdParty/minfft"]
	path = 3rdParty/minfft
	url = https://github.com/aimukhin/minfft
